#title{
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

#intro{
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

#search{
    width: 5%;
    margin-left: 47.5%;

}